/* notonto CSS*/
h1 {
	color: #4C4C45;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 48px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	max-width: 936px;
	text-rendering: optimizelegibility;
}

h2 {
	color: #4C4C45;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 28.5px;
	margin-bottom: 19px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

h3 {
	color: #727267;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 28.5px;
	margin-bottom: 19px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

body {
	color: #393934;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 19px;
}

/* */
#menu .ui-table {
	border: 1px solid #dddddd ! important;
	margin-top: 30px;
}

#menu .ui-bar-a {
	background: #1cb2e7 none repeat scroll 0% 0%;
	color: white;
	text-shadow: none;
}

#menu .ui-table-row {
	background: #ffffff none repeat scroll 0% 0%;
}

/* ------------------ FONTS ------------------ */
.font1 {
	font-size: 16px;
	text-decoration: none;
}

.font1 a {
	font-weight: bold;
}

.font2 {
	font-size: 14px;
	font-weight: bold;
}

.font2 a {
	font-weight: bold;
}

.font3 {
	font-size: 12px;
	font-weight: normal;
}

.font4 {
	font-size: 24px;
	font-weight: normal;
}

.font5 {
	font-size: 18px;
	font-weight: normal;
}

.fontsym {
	font-size: 80px;
	font-weight: normal;
}

.errortext {
	font-size: 12px;
	font-weight: bold;
	color: #8D1400;
}

.res_f {
	font-weight: bold;
}

.res_r {
	color: #88aa88;
	font-weight: bold
}

.infotext {
	font-size: 12px;
	font-weight: bold;
	color: #8F7500;
	margin: 0px 0px 10px 0px;
	border: 1px solid #8F7500;
	padding: 5px;
	background-color: #FFF6CF;
}

.headtext {
	display: inline;
	margin-left: 0px;
	margin-right: 17px;
	line-height: 21px;
}

.bold {
	font-weight: bold;
}

.ta_right {
	text-align: right;
}

.ta_left {
	text-align: left;
}

.ta_center {
	text-align: center;
}

/*
	Buttons
*/
.btn_green {
	background: #D5FFC4 !important;
	border: 1px solid #BCE0AC !important;
	color: #667A5E !important;
}

.btn_red {
	background: #F2DEDE !important;
	border: 1px solid #EED3D7 !important;
	color: #B94A48 !important;
}

.btn_yellow {
	border-radius: 4px;
	background: #FCF8E3;
	border: 1px solid #FBEED5;
	color: #C09853;
	font-weight: bold;
}

/*
red bg #F2DEDE
red border #EED3D7
red #B94A48

yellow bg #FCF8E3
yellow border #FBEED5
yellow #C09853
*/